kernelcache.iPhone10,1.18D70
.DS_Store
kernelcache.iPhone10,1.18D70.id0
kernelcache.iPhone10,1.18D70.id1
kernelcache.iPhone10,1.18D70.nam
kernelcache.iPhone10,1.18D70.id2
kernelcache.iPhone10,1.18D70.til
